.main-third {
    display: flex;
    align-items: start;
    margin-top: 120px;
    min-height: 922px;
    &__left {
        width: 100%;
        height: 573px;
        background-image: url(../../public/Image.png);
        background-repeat: no-repeat;
        display: flex;
        position: relative;
        margin-left: 80px;
        &-img {
            position: absolute;
            bottom: -74px;
            left: -60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 296px;
            height: 293px;
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.5);
            &-up {
                margin-top: 22px;
                font-weight: 600;
                line-height: 157%;
                font-size: 14px;
            }
            &-ava {
                margin-top: 13px;
                border-radius: 50%;
                width: 57px;
                height: 57px;
                background-image: url(../../public/Image.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            &-name {
                font-size: 13px;
                font-weight: 400;
                margin: 10px 0 20px 0;
            }
            &-title {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 16px;
                font-weight: 800;
                margin-bottom: 15px;
            }
            &-li {
                font-weight: 400;
                font-size: 12px;
                margin-bottom: 16px;
                margin-left: -25px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        max-width: 584px;
        margin-left: 30px;
        &-up {
            color: #424242;
            font-size: 25px;
            font-weight: 600;
        }
        &-header {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 50px;
            color: #01996D;
            line-height: 157%;
            font-weight: 700;
        }
        &-text {
            margin-top: 20px;
            font-size: 20px;
            color: #484848;
        }
        &-btn {
            width: 240px;
            height: 65px;
            background-color: #01996D;
            color: white;
            font-size: 20px;
            font-weight: 400;
            border-radius: 4px;
            border: none;
            margin-top: 40px;
            cursor: pointer;
        }
    }
}

.line {
    width: 110px;
    height: 2px; 
    background-color: black;
    margin-top: 8px;
}